@font-face {
  font-family: 'ramen-ico';
  src:  url('fonts/ramen-ico.eot?rn5mxi');
  src:  url('fonts/ramen-ico.eot?rn5mxi#iefix') format('embedded-opentype'),
    url('fonts/ramen-ico.ttf?rn5mxi') format('truetype'),
    url('fonts/ramen-ico.woff?rn5mxi') format('woff'),
    url('fonts/ramen-ico.svg?rn5mxi#ramen-ico') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ramen-ico' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mouse-lc:before {
  content: "\6f";
}
.mouse-rc:before {
  content: "\73";
}
.sun1:before {
  content: "\64";
}
.sun2:before {
  content: "\61";
}
.sun3:before {
  content: "\63";
}
.weather1:before {
  content: "\62";
}
.sun4:before {
  content: "\6d";
}
.sun5:before {
  content: "\67";
}
.sun6:before {
  content: "\65";
}
.weather2:before {
  content: "\66";
}
.weather3:before {
  content: "\68";
}
.radio_on:before {
  content: "\2e";
}
.radio_off:before {
  content: "\2c";
}
.list:before {
  content: "\3e";
}
.menu:before {
  content: "\3c";
}
.lightbulb:before {
  content: "\77";
}
.messages:before {
  content: "\75";
}
.exit:before {
  content: "\29";
}
.log-in:before {
  content: "\5d";
}
.log-down:before {
  content: "\60";
}
.log-up:before {
  content: "\7e";
}
.log-out:before {
  content: "\5b";
}
.home:before {
  content: "\2d";
}
.home-o:before {
  content: "\5f";
}
.building:before {
  content: "\3d";
}
.road:before {
  content: "\5a";
}
.alert:before {
  content: "\2b";
}
.info:before {
  content: "\28";
}
.help:before {
  content: "\2a";
}
.chevrons-up:before {
  content: "\26";
}
.chevrons-right:before {
  content: "\5e";
}
.chevrons-left:before {
  content: "\25";
}
.chevrons-down:before {
  content: "\24";
}
.chevron-up:before {
  content: "\40";
}
.chevron-right:before {
  content: "\30";
}
.chevron-left:before {
  content: "\39";
}
.chevron-down:before {
  content: "\21";
}
.arrow-up:before {
  content: "\38";
}
.arrow-up-right:before {
  content: "\37";
}
.arrow-up-left:before {
  content: "\36";
}
.arrow-right:before {
  content: "\35";
}
.arrow-left:before {
  content: "\34";
}
.arrow-down-right:before {
  content: "\33";
}
.arrow-down:before {
  content: "\32";
}
.arrow-down-left:before {
  content: "\31";
}
.toggle-right:before {
  content: "\74";
}
.toggle-left:before {
  content: "\54";
}
.more-horizontal:before {
  content: "\69";
}
.more-vertical:before {
  content: "\49";
}
.x:before {
  content: "\58";
}
.close:before {
  content: "\58";
}
.check:before {
  content: "\43";
}
.plus-square:before {
  content: "\7a";
}
.minus-square:before {
  content: "\79";
}
.x-square:before {
  content: "\78";
}
.check-square:before {
  content: "\76";
}
.square:before {
  content: "\71";
}
.thumbs-up:before {
  content: "\6c";
}
.thumbs-down:before {
  content: "\6b";
}
.heart-outline:before {
  content: "\3b";
}
.heart:before {
  content: "\3a";
}
.shield:before {
  content: "\6a";
}
.globe:before {
  content: "\4f";
}
.user:before {
  content: "\55";
}
.phone-call:before {
  content: "\56";
}
.save:before {
  content: "\2f";
}
.settings:before {
  content: "\7c";
}
.shopping-bag:before {
  content: "\53";
}
.shopping-cart:before {
  content: "\72";
}
.briefcase:before {
  content: "\42";
}
.pin:before {
  content: "\4c";
}
.map-o:before {
  content: "\4d";
}
.wallet:before {
  content: "\57";
}
.stack:before {
  content: "\44";
}
.phone:before {
  content: "\50";
}
.github:before {
  content: "\47";
}
.python:before {
  content: "\70";
}
